h1
{
background: #3CB371
}
p
{
color: #3CB371
}
ol
{
color: #6A5ACD
}
h2
{
color: #3CB371
}
body
{
background: #6A5ACD
}
<a href = "http://jigsaw.w3.org/css-validator/
validator?uri=https://mirsabm.github.io/home/">

<img src= "css.png" width="165" alt="CSS Validator">